 @media screen and (max-width:  1199px) {
    .logo {
        width: 90%;
    }
    .navbar a {
        padding: 0px 18px;
        font-size: 18px;
    }
    .header_bar {
        display: none;
    }
    .banner__right-side {
        background-size: 575px;
    }
    .virus {
        width: 250px;
        right: -95px;
    }
    .content_img{
        margin:0;
        width: 180px;
    }
    .content__heading h3 {
        color: #3A393E;
        font-size: 15px;
    }
    .content__value h3 {
        font-size: 12px;
    }
    .content__value p {
        color: #989898;
        font-size: 14px;
        text-decoration: line-through;
        margin-left: 3px;
        margin-top: 0;;
    }
    .virus-right {
        width: 200px;
        bottom: -46px;
        left: -50px;
    }
    .font-size {
        margin-top: 20px;
    }
    .virus-center {
        width: 200px;
        left: 409px;
        top: 400px;
    }
    .banner__right-side img {
        margin-top: -70px;
        padding: 50px;
        overflow: hidden;
        transform: scale(1.1);
    }
    .Our_product {
        font-size: 30px;
    }
    .Protect__yourself {
        font-size: 38px;
    }
    .font-size {
        font-size: 15px;
        margin:0;
    }
    .baaner_img {
        margin-left: -20px;
    }
    .banner-btn {
        margin-left: 40px;
    }
    .btn-info {
        color: white;
        padding: 7px;
    }
    /* header-and-banner-section-end */
    .Collection h2 ,.Collection__last_child h2 {
        font-size: 24px;
    }
    .Collection-inner-left {
        position: absolute;
        right: -34px;
        /* bottom: 0px; */
        width: 250px;
        top: 70px;
    }
    .Collection-inner-center{
        top: 40px;
    }
    .Collection-inner-righ{
        right: 0;
        top: 65px;
        width: 250px;
    }
    .inner__product {
        transform: scale(0.7);
    }
    /* end */
    .product__heading h3{
        font-size:18px;
    }
    .product__value h3 {
        font-size: 18px;
    }
    .product-mask{
        padding: 55px 0 0 24px;
    }
    .featured__Products_head P, .Featured__Products_head p{
        font-size: 38px;
    }
    .featured__Products_head, .Featured__Products_head h5 {
        font-size: 24px;
    }
    .view_btn {
        padding: 14px 90px;
    }    
    .Featured{
        width: 150px;
        right: -24px;
    }
    .virus-right {
        width: 150px;
        bottom: -2px;
        left: -50px;
    }
    .Protection_body:after{
        right:0;
    }
    .protecton_virus{
        display: none;
    }
    .protection__sider {
       display: none;
    }
    .inner__img {
        margin-top: -206px;
        margin-left: 55px;
        transform: scale(1.2);
    }
    .protection__img{
        width:500px;
    }
    .inner_img_2 {
        position: absolute;
        right: -213px;
        bottom: -1px;
        width: 305px;
        transform: rotate(10deg);
    }
    .protection__heading {
        font-size: 24px;
    }
    .customized_para {
        color: #989898;
        font-size: 14px;
    }
    .customer_content {
        font-size: 16px;
    }
    img.share_twitter_icon{
        background-color: #4677ff;
        padding: 8px;
        margin-right: 8px;
    }
    .icon_pinterest {
        background-color: #D32F2F;
        padding: 8px 12px;
        border-radius: 2px;
    }
    .share_fb_icon {
        padding: 8px 12px;
        margin-right: 8px;
}
/* page-5 */
.description_details {
    font-size: 14px;
}
.description_inner_left{
    width: 85%;
}
.customize_stars{
    margin:0;
}
.Add__Comment_main{
    width:98%;
}
/* page-8 */
.order_list h4{
    font-size: 12px;
}
.delete_img {
    width: 20px;
    height: 16px;
    object-fit: contain;
}
.order_product{
    margin:0;
}
@media screen and (max-width:  991px) {
    .header_bar {
        margin-left: 10px;
        border: 1px;
        background-color: #fff7f5;
        display: inline-block;
    }
    .btn__info {
        font-size: 18px;
        padding: 7px 18px;
    }
    .Our_product {
        font-size: 20px;
    }
    .font-size {
        font-size: 16px;
        margin: 0;
    }
    .navbar a {
        font-size: 18px;
        color: #201d1f;
        border-radius: 40px;
        margin-bottom: -29px;
        padding: 14px;
        display: inline-block;
    }
    .navbar{
        display: inline-block;
    }
    .header{
        position: relative;
    }
    .Protect__yourself {
        font-size: 40px;
    }
    .banner__info{
        justify-content: center;
    }
    .banner-btn{
        margin: 0;
    }
    .btn-info {
        color: white;
        padding: 8px;
        margin-bottom: 16px;
    }
    .font-size{
        font-size:24px;
        margin:0;
    }
    .banner__right-side img{
        display: none;
    }
    .banner__left-side {
        width: 100%;
        text-align: center;
    }
    .banner__info span,.banner__info p{
        font-size:24px;
    }
     .nav {
        position: absolute;
        z-index: 3;
        text-align: center;
        left: 0;
        max-height: 0;
        flex-direction: column;
        top:95px;
        transition: 4s;
        width: 100%;
        overflow: hidden;
        background-color: #eeb5a7;
    } 
    .nav.active{
        max-height: 1000px;
    }
    .banner__left-side {
        width: 1000%;
        text-align: center;
    }
    .banner__info{
        text-align: center;
    } 
    /* banner-and-header-end */
    .Collection h2, .Collection__last_child h2 {
        font-size: 20px;
        display: inline-block;
    }
    .Collection p,.Collection__last_child p {
        font-size: 18px;
    }
    .Collection-inner-left, .Collection-inner-center, .Collection-inner-righ{
        display:none;
    }
    .Collection{
        text-align: center;
    }
    .Collection__body{
        text-align: start;
        display: inline-block;
    }
    .Collection__last_child{
        text-align: center;
    }
    /* collection-section-end */
    .featured__Products__details{
        width:50%
    }
    .featured__Products_content {
        background-color: #F5F5F5;
        text-align: center;
        height: 65%;
        width: 103%;
    }
    .featured__Products_head, .Featured__Products_head {
        text-align: center;
        margin-bottom: 30px;
    }
    .featured__hover_btn{
        left: 175px;
          top: 178px;
    }
    .inner__product {
        transform: scale(0.9);
    }
    .product__heading h3{
        font-size:26px;
    }
    .product__value h3 {
        font-size: 20px;
    }
    /* end */
    .inner_img_2 {
        position: absolute;
        right: -136px;
        bottom: 7px;
        width: 230px;
        transform: rotate(10deg);
    }
    .inner__img {
        margin-top: -196px;
        margin-left: 35px;
        transform: scale(1.1);
    }
    .protection__img {
        width: 400px;
    }
    .customer_inner:hover{
        background-size:320px;
    }
    .proctection_content {
        font-size: 18px;
    }
    .proctection_para{
        font-size:18px;
    }
    .product__value{
        justify-content: space-between;
        margin:0;
    }
    .protection__heading {
        font-size: 20px;
    }
    /* protection-section-end */
    .Instagram__Follow_head {
        margin-top: 10px;
        font-size: 15px;
    }
    .links_head h2, .Company__Support h2 {
        font-size: 16px;
    }
    .Instagram__Follow_head {
        margin-top: 10px;
        font-size: 12px;
    }
    .footer_logo{
        width: 150px;
    }
    .Company__Support {
        width: 25%;
        margin-left: 6px;
        margin-top: 10px;
    }
    .follwers-list {
        height: 75px;
        width: 26%;
        object-fit: cover;
        object-position: top;
        padding: 6px;
    }
    .text {
        margin-bottom: 18px;
        font-size: 12px;
    }
    .icon_1 {
        padding: 5px 11px;
    }
    .icon_2 {
        padding: 6px;
    }
    .icon_3 {
        padding: 7px;
    }
    .icon_4 {
        background-color: #2196F3;
        padding: 4px;
    }
    .footer__Links {
        margin-left: 22px;
    }
    .links_head h2, .Company__Support h2{
        font-size:20px
    }
    /* page--3 */
    .second_imgs {
        padding: 2px;
        object-fit: cover;
        width: 78px;
    }
    .Customized_Reusable_inner{
        width: 95%;
        transform: scale(0.8);
        margin: 0;
    }
    .Customized_Reusable_left {
        width: 11%;
    }
    .Customized_Reusable_center {
        margin-left: 6px;
    }   
    .customized_head{
        font-size:12px;
    }
    .prouduct_content{
        align-items: baseline;
    }
    .customized_head p, .prouduct_content p, .customized_para {
        font-size: 9px;
    }
    .Customize_addto_card{
        align-items: baseline;
    }
    .customize_colors {
        width: 54%;
    }
    .Customize_addto_card {
        display: flex;
        justify-content: space-between;
        width: 65%;
        margin-top: 15px;
    }
    .description_details {
        font-size: 12px;
    }
    /* page-5 */
    .star_reviews_info{
        font-size:14px;
    }
    .personal_reviews h3{
        font-size:18px;
    }
    /* page-8 */
    .adress_inner_parant {
        width: 100%;
    }
    .Order__Summary_right {
        width: 50%;
        background-color: #F5E6E6;
        height: 50%;
        padding: 10px;
        margin-left: 12px;
    }
    .content_para p {
        color: #7A7A7A;
        font-size: 10px;
    }
    .shipping_adress_inner span {
        margin-top: 18px;
    }
}
@media screen and (max-width:  767px){
    .navbar a {
        font-size: 14px;
        padding: 10px;
    }
    .featured__Products_parant {
        display: block;
    }
    .nav{
        top: 72px;
    }
    .Our_product {
        font-size: 11px;
    }
    .logo {
        width: 130px;
    }
    .banner-btn {
        margin-left: 20px;
    }
    .btn-info {
        color: white;
        padding: 6px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .banner__info span {
        font-size: 14px;
    }
    .banner__info p {
        font-size: 14px;
    }
    .Protect__yourself {
        font-size: 25px;
    }
    .font-size {
        font-size: 11px;
    }
    .btn__info {
        font-size: 14px;
        padding: 7px 6px;
        margin: 20px 0;
    }
    .banner__right-side img {
        margin-top: -40px;
    }
    .banner__right-side {
        background-size: 440px;
    }
    .virus {
        width: 100px;
        right: -15px;
    }
    .virus-center {
        width: 160px;
        left: 300px;
        top: 308px;
    }
    .virus-right {
        width: 100px;
        bottom: 0;
        left: 0;
    }
    /* end-banner */
    .Collection h2 {
        font-size: 15px;
    }
    .Collection p {
        font-size: 14px;
    }
    .Collection__last_child h2 {
        font-size: 15px;
    }
    .Collection__last_child p{
        font-size: 16px;
    }
    .Collection-inner-left {
        right: -29px;
        bottom: -15px;
        width: 180px;
    }
    .btn-info {
        font-size: 8px;
    }
    .Collection-btn {
        padding-top: 14px;
    }
    .inner-center {
        width: 150px;
        top: 40px;
        right: -27px;
    }
    .featured__Products_left{
        width:100%;
        display: none;
    }
    .inner__product{
        transform: scale(0.8);
        height: 250px;
    }
    .Collection ,.Collection__last_child{
        padding: 15px;
    }
    .Collection-inner-center {
        width: 130px;
        top: 40px;
        right: -16px;
    }
    .Collection-inner-righ {
        right: 0px;
        top: 45px;
        width: 180px;
    }
    .customer_inner:hover{
        background-size:700px;
    }
    .featured__Products_head P, .Featured__Products_head p {
        font-size: 24px;
    }
    .featured__Products_head, .Featured__Products_head h5 {
        font-size: 18px;
    }
    .featured__hover_btn {
        left: 100px;
        top: 120px;
    }
    .featured__Products-sale-tag img {
        height: 50px;
    }
    .featured__Products-sale-tag p{
        left: 18px;
        font-size: 12px;
    }
    .featured__Products_right{
        width:100%;
    }
    .product-mask{
        transform: scale(0.7);
        height: 250px;
    }
    .product__heading h3 {
        font-size: 18px;
    }
    .product__value h3 {
        font-size: 16px;
    }
    .view_btn {
        padding: 12px 40px;
    }
    /* product-section-end */
    .banner__info span ,.banner__info p{
        font-size: 20px;
    }
    .protection__heading{
        font-size: 18px;
    }
    .slick-dots {
        bottom: 0;
    }
    .proctection_para {
        font-size: 13px;
    }
    .protection__content {
        margin: 0;
        font-size:15px;
    }
    .protection__img{
        width:340px;
    }
    .inner__img {
       display: none;
    }
    .inner_img_2 {
        display:none;
    }
    .protection__sider{
        display: none;
    }
    .Protection_body {
        width: 92%;
        margin-top: 5%;
    }
    .product__value p {
        font-size: 14px;
    }
    .btn-info {
        font-size: 14px;
    }
    .loar-title{
        font-size:10px;
    }
    .price {
        padding: 5px 16px;
        margin-right: 3px;
    }
    .Protection_body:after {
        right:0;
    }
    .custmor__icon{
        width:35px;
    }
    .woman-img{
        height: 130px;
    }
    .slick-slide img{
        width:130px;
    }
    .customer_content{
        font-size:22px;
    }
    .content {
        font-size: 12px;
    }
    /* end */
    .follwers-list{
        height: 72px;
        padding: 5px;
    }
    .links_head h2, .Company__Support h2,.Company__Support h2, .Instagram__Follow_head h2{
        font-size: 15px;
    }
    .text {
        margin-bottom: 16px;
        font-size: 10px;
    }
    .footer_logo{
        width: 120px;
    }
    .icon_1 {
        margin:0;
        padding: 2px 4px;
    }
    .icon_2{
        padding: 3px;
        margin:0;
    }
    .icon_3 {
        padding: 5px;
        margin:0;
    }
    .icon_4{
        padding: 2px;
        margin:0
    }
    .center {
        left: 382px;
        top: 105px;
    }
    .side {
        width: 92px;
        left: 118px;
    }
    .Company__Support h2, .Instagram__Follow_head h2 {
        font-size: 14px;
    }
    .footer__para p {
        color: #3A393E;
        font-size: 12px;
    }
    /* page-3 */
    .second_imgs{
        width: 103px;   
    }
    .Customized_Reusable_inner {
        width: 95%;
        transform: scale(0.9);
        margin: 0;
        padding-top: 30px;
    }
    .Customized_Reusable_parant{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Customized_Reusable_left {
        width: 15%;
    }
    .Customized_Reusable_center {
        width: 80%;
    }
    .Customized_Reusable_right {
        width: 100%;
    }
    .customized_head {
        font-size: 20px;
    }
    .customized_head p, .prouduct_content p, .customized_para {
        font-size: 17px;
    }
    .prouduct_content.d--flex {
        justify-content: space-between;
        width: 17%;
        align-items: baseline;
    }
    .customize_colors {
        width: 40%;
    }
    .Customize_addto_card {
        width: 42%;
    }
    /* page-5 */
    .description_details {
        font-size: 10px;
    }
    .description_inner_left{
        width:80%;
    }
    .descritption_img {
        width: 65px;
        margin-right: 22px;
    }
    .box_comment{
        padding: 6px;
    }
    .clock_img {
        width: 17px;
        height: 19px;
        object-fit: contain;
    }
    .star_reviews_info {
        font-size: 12px;
    }
    /* page-8 */
    .adress_inner_parant {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .shipping_address_left {
        width: 100%;
        order: 2;
    }
    .preview_btns {
        justify-content: space-between;
        margin: 20px 0;
    }
    .Order__Summary_right {
        width: 100%;
        background-color: #F5E6E6;
        height: 50%;
        padding: 10px;
        order:1;
        margin-left:0px;
        margin-bottom: 20px;
    }
    .order_product {
        width: 110px;
        height: 110px;
    }
    .delete_img {
        width: 46px;
        height: 30px;
    }
    .order_list h4 {
        font-size: 18px;
    }
    .order_list p {
        font-size: 17px;
    }
}
@media screen and (max-width:  575px){
    .font-size {
        font-size: 11px;
    }
    .banner__left-side{
        padding: 20px;
    }
    .logo{
        width:130px;
    }
    .banner__info span, .banner__info p {
        font-size: 18px;
    }
    .Protect__yourself {
        font-size: 20px;
    }
    .btn-info {
        font-size: 12px;
        padding: 8px 18px;
    }
    .section {
        margin: 30px 0 16px 0;
        overflow: hidden;
        position: relative;
    }
    .Our_product {
        font-size: 22px;
    }
    .font-size {
        font-size: 14px;
    }
    .banner__side {
        justify-content: center;
        margin-bottom: 55px;
    }
    .over_products-left{
        display: none;
    }
    .over_products-right{
        display: none;
    }
    .banner-btn{
        margin:0;
    }
    .Collection{
        width: 50%;
        padding:10px;
    }
    .Collection-btn {
        padding-top: 6px;
    }
    .Collection__last_child{
        padding:0;
        display: none;
    }
    .Collection h2{
        font-size: 20px;
    }
   .Collection__last_child p{
        font-size: 14px;
    }
    .product__heading h3 {
        font-size: 14px;
    }
    .product__value h3 {
        font-size: 14px;
    }
    .product__value p {
        font-size: 10px;
    }
    .inner__product {
        transform: scale(0.59);
    }
    .featured__Products_head, .Featured__Products_head{
      margin-top:35px;
      margin-bottom:10px;
    }
    .star_reding_img {
        width: 18px;
        margin-bottom: 5px;
    }
    .featured__hover_btn {
        left: 100px;
          top: 105px;
    }
    .featured_btn{
        padding: 5px;
    }
    .featured__Products-inner{
        height: 200px;
    }
    .featured__btn{
        margin: 20px 0 0 0;
    }
    .Protection_body{
        width:1000%;
        text-align: center;
    }
    .proctection_content{
        justify-content: center;
    }
    .protection__img{
        display:none;
    }
    .protection__content{
        display: none;
    }
    .loar-title {
        margin-top:20px;
        justify-content: center;
    }
    .customer_eduard {
        margin-top: 8px;
    }
    .customer_content{
        font-size:18px;
    }
    .customer_inner:hover{
        background-size: 500px;
    }
    /* end */
    .covid_19{
        width:100%;
    }
    .footer_head{
        flex-direction: column;
    }
    .footer_logo {
        width: 250px;
    }
    .text{
        font-size:20px;
    }
    .virus-right {
        width: 120px;
    }
    .side {
       display: none;
    }
    .center {
        left: 180px;
        top: 320px;
        width: 150px;
    }
    .icon_1 {
        margin: 0;
        padding: 5px 12px;
    }
    .icon_2 {
        padding: 6px;
        margin: 0;
    }
    .icon_3 {
        padding: 7px 6px;
        margin: 0;
    }
    .icon_4 {
        padding: 4px;
        margin: 0;
    }
    .footer__Links{
        margin:0;
    }    
    .content {
        font-size: 16px;
    }
    .Company__Support{
        width:100%;
        margin:0;
    }
    .links_head h2, .Company__Support h2, .Company__Support h2, .Instagram__Follow_head h2{
        font-size:24px;
    }
    .Instagram__Follow {
        width: 100%;
    }
    .follwers-list {
        height: 110px;
        width: 137px;
        transform: scale(1.0);
    }
    /* page-3 */
    .customized_head {
        font-size: 15px;
    }
    .prouduct_content{
        justify-content: space-between;
        width:20%;
        align-items: baseline;
    }
    .customized_para {
        font-size: 14px;
    }
    .customize_colors {
        width: 50%;
    }
    .Customize_addto_card {
        width: 45%;
    }
    .Description_header{
        padding: 0;
    }
    .Customize_addto_card {
        width: 56%;
    }
    .clock_img {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 480px){
    .Protect__yourself{
        font-size:18px;
    }
    .banner__info span, .banner__info p{
        font-size:15px;
    }
    .virus-right {
        width: 100px;
    }
    .Collection h2 {
        font-size: 13px;
    }
    .Collection{
        width:100%;
        margin-bottom: 14px;
    }
    .Collection__last_child{
        display: block;
        width:100%;
        padding: 10px;
    }
    .Collection p,.Collection__last_child p {
        font-size: 16px;
    }
    .Collection h2,.Collection__last_child h2 {
        font-size: 18px;
    }
    .btn-info {
        font-size: 10px;
        padding: 6px 15px;
    }
    .featured__Products_head, .Featured__Products_head{
        margin-bottom: 20px;
    }
    .featured__Products_head, .Featured__Products_head h5{
        font-size: 22px;
        font-weight: 600;
        margin-top: 40px;
    }
    .featured__Products_head P, .Featured__Products_head p{
        font-size: 28px;
    }
    .featured__Products__details {
        width: 100%;
    }
    .featured__Products_body{
        display: block;
    }
    .product__value p {
        margin-left: 5px;
        margin-top: 1px;
        font-size: 16px;
    }
    .product__heading h3{
        font-size: 18px;
    }
    .product__value h3{
        font-size:16px;
    }
    .star_reding_img{
        width: 20px;
        padding-bottom: 10px;
    }
    .section__parant {
        width: 100%;
        flex-direction: column;
    }
    .featured__Products-sale-tag img {
        height: 40px;
    }
    .featured__Products-sale-tag p{
        font-size:10px;
    }
    .featured_btn{
        padding:4px;
    }
    .featured__btn{
        margin:0;
    }
    .featured__hover_btn {
        left: 170px;
        top: 120px;
    }
    .inner__product {
        transform: scale(0.8);
    }
    .featured__Products-inner {
        height: 242px;
    }
    .view_btn {
        padding: 7px 10px;
        font-size:12px;
    }
    .proctection_content {
        font-size: 14px;
    }
    .protection__heading {
        font-size: 14px;
    }
    .proctection_para {
        font-size: 10px;
    }
    .slick-slide img {
        width: 100px;
    }
    .customer_content {
        font-size: 14px;
    }
    .woman-img{
        height: 100px;
    }
    .footer_logo {
        width: 230px;
    }
    .text {
        font-size: 18px;
    }
    .follwers-list {
        height: 100px;
        width: 113px;
        transform: scale(0.99);
    }
    /* page-3 */
    .second_imgs {
        padding: 2px;
        object-fit: cover;
        width: 25%;
        border: 1px solid #ceb7b1;
    }
    .Customized_Reusable_left {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 2;
    }
    .Description_header{
        padding: 0;
    }
    .Customized_Reusable_center {
        width: 100%;
        margin-left: 0;
        order: 1;
    }
    .Customized_Reusable_inner {
        margin-top: 30px;
        width: 100%;
        transform: scale(0.8);
        height: 0%;
    }
    .customized_head {
        font-size: 12px;
    }
    .customized_head p, .prouduct_content p, .customized_para {
        font-size: 12px;
    }
    .customize_stars {
        margin-right: 4px;
    }
    .customize_colors {
        width: 68%;
    }
    .Customize_addto_card {
        width:76%;
    }
    .Customized_Reusable_right{
        order:3;
    }
    /* page-5 */
    .description_details{
        font-size:8px;
    }
    .star_reding_img{
        width: 7px;
        padding-bottom: 10px;
    }
    .personal_reviews h3 {
        font-size: 12px;
    }
    .star_reviews_info{
        font-size:10px;
        margin-left: 6px;
    }
    .description_inner_left{
        width:72%;
    }
    .clock_img {
        width: 12px;
        height: 12px;
        object-fit: contain;
    }
    /* page-8 */
    .address_header p{
        font-size:12px;
    }
    .content_para h2 {
        font-size: 14px;
    }
    .content_para p {
        color: #7A7A7A;
        font-size: 10px;
    }
    .order_list h4 {
        font-size: 13px;
    }
    .order_list p {
        font-size: 12px;
    }
    .order_product {
        width: 100px;
        height: 101px;
    }
    .address_location {
        font-size: 12px;
    }
}




