@media screen and (max-width: 1024px) {
    .banner__right-side img {
        margin-top: -56px;
        padding: 12px;
    }
    .banner__right-side {
        background-size: 577px;
    }
    .Protect__yourself {
        font-size: 33px;
    }
    .font-size{
        font-size: 15px;
        margin-right: 71px;
    }
    .btn__info {
        display: inline-block;
        font-size: 20px;
        padding: 4px 12px;
        margin: 39px 0;
        color: #dec9c4;
    }
    .virus {
        width: 225px;
        position: absolute;
        right: -120px;
        top: 0;
    }
    .Collection-inner-left {
        width: 200px;
        margin-top: -43px;
        margin-left: 3px;
        transform: scale(1.1);
    }
    .virus-center {
        position: absolute;
        width: 200px;
        left: 400px;
        z-index: 6;
        bottom: 110px;
    }
    .virus-right {
        width: 200px;
        left: -96px;
    }
    .Collection-inner-left {
        width: 200px;
        margin-top: -36px;
        margin-left: 3px;
        transform: scale(1.1);
    }
    .Collection-inner-righ {
        width: 185px;
        margin-left: 18px;
        margin-top: -36px;
        transform: scale(1.3);
    }
    .Collection-inner-center {
        width: 165px;
        margin-left: 38px;
        margin-top: -60px;
        transform: scale(1.1);
    }
    .Collection h2 ,.Collection__last_child h2  {
        font-size: 22px;
    }
    .Collection p ,.Collection__last_child p  {
        font-size: 18px;
    }
    /* end */
    .featured__Products_head P {
        font-size: 40px;
    }
    .featured__Products_head h5 {
        font-size: 24px;
    }
    .inner__product {
        transform: scale(0.7);
        margin-left: 16px;
    }
    .product-mask {
        width: 300px;
        height: 321px;
        object-fit: contain;
        object-position: right;
        transform: scale(0.8);
        margin-left: 23px;
    }
    .featured__Products-inner {
        background-color: #F5F5F5;
        text-align: center;
        height: 278px;
    }
    .tranfrom{
        transform: scale(1.0);
    }
    .product__heading h3 {
        font-size: 18px;
    }
    .product__value p {
        font-size: 16px;
    }
    .product__value h3 {
        font-size: 18px;
    }
    .star__list {
        margin-left: 64px;
    }
    .view_btn {
        padding: 12px 85px;
    }
    /* end */
    .inner_img_2 {
        position: absolute;
        right: -102px;
        bottom: 22px;
        transform: rotate(10deg);
        width: 237px;
    }
    .protection__heading {
        font-size: 18px;
    }
    .proctection_para {
        font-size: 12px;
        margin-right: 50px;
    }
    .amount {
        margin-left: 7px;
        margin-bottom: -2px;
    }
    .price {
        margin-top: 35px;
    }
    .inner__img {
        margin-top: -200px;
    }
    .protection__sider {
        position: absolute;
        width: 189px;
        left: 18px;
        bottom: -128px;
    }
    .Protection_body:after {
        right: 154px;
    }
    .protecton_virus {
        width: 120px;
        position: absolute;
        right: -62px;
        top: 0;
    }
}