@media screen and (max-width:  1199px) {
    .logo {
        width: 90%;
    }
    .navbar a {
        font-size: 20px;
        padding: 0px 20px;
    }
    .banner__right-side img{
        margin-top:-50px;
    }
    .banner__right-side{
        background-size:685px;
    }
    .btn-info {
        font-size: 18px;
    }
    .Protect__yourself{
        font-size:34px;
    }
    .virus-center {
        width: 270px;
        left: 461px;
        top: 455px;
    }
    .Collection-inner-righ {
        right: -5px;
    }
    .view_btn {
        padding: 18px 100px;
    }
    .inner__img {
        margin-top: -204px;
    }
    .protection__sider {
        height: 480px;
        left: 6px;
        bottom: -23px;
        width: 251px;
    }
    .Protection_body:after{
        right: 0px;
    }
    .protecton_virus{
        width: 80px;
    }
    .virus-right {
        width: 189px;
        bottom: 6px;
        left: -74px;
    }
    .center {
        width: 130px;
        left: 580px;
        top: 190px;
    }
}
@media screen and ( max-width:1080px){
    .navbar a {
        font-size: 18px;
        padding: 0px 20px;
    }
    .Protect__yourself {
        font-size: 38px;
    }
    .btn__info {
        display: inline-block;
        font-size: 20px;
        padding: 7px 18px;
        margin: 30px 0;
        color: white;
    }
    .banner__right-side {
        background-size: 625px;
    }
    .Collection h2 ,.Collection__last_child h2 {
        font-size: 24px;
    }
}
@media screen and (max-width:  992px){
    .navbar a {
        font-size: 15px;
        padding: 0px 18px;
    }
    .btn-info {
        font-size: 14px;
    }
    .banner-btn {
        margin-left: 42px;
    }
}
@media screen and (max-width:  991px) {
    .qwe{
        display:block;
    }
    .banner_bar{
        background-color: #fff7f5;
         border: 1px saddlebrown;
    }
    .navbar a{
        font-size: 14px;
    }
    /* .navbar {
        display: flex;
        background-color: lightpink;
        max-width: 80%;
        height: 36px;
        align-items: center;
    } */
    .navbar {
        display: none;
    }
    .banner-btn {
        margin-left: 30px;
    }
    .banner__right-side img {
        margin-top: -40px;
    }
    .Protect__yourself {
        font-size: 32px;
    }
    .banner__info p {
        font-size: 18px;
    }
    .banner__info span {
        font-size: 18px;
    }
    .font-size {
        font-size: 15px;
    }
    .btn-info {
        font-size: 14px;
        display: none;
    }
    .banner__right-side {
        background-size: 460px;
    }
    .virus {
        width: 200px;
        right: -50px;
    }
    .virus-center {
        width: 200px;
        left: 390px;
        top: 378px;
    }
    .virus-right {
        width: 177px;
        bottom: 10px;
        left: -50px;
    }
    /* banner-end */
    .Collection h2 {
        font-size: 22px;
    }
    .Collection__last_child h2 {
        font-size: 22px;
    }
    .Collection p {
        font-size: 18px;
    }
    .Collection__last_child p {
        font-size: 18px;
    }
    .Collection-inner-left {
        right: -34px;
        bottom: -18px;
        width: 230px;
    }
    .Collection-inner-center {
        width: 200px;
        top: 40px;
        right: -30px;
    }
    .Collection-inner-righ {
        right: -10px;
        top: 70px;
        width: 240px;
    }
    /* collection-section-end */
    .featured__Products_head, .Featured__Products_head h5 {
        font-size: 24px;
    }
    .featured__Products_head P, .Featured__Products_head p {
        font-size: 38px;
    }
    .inner__product {
        transform: scale(0.7);
    }
    .product-mask {
        right: 6px;
        padding-top: 40px;
        padding-left: 12px;
    }
    .product__heading h3 {
        font-size: 16px;
    }
    .product__value h3 {
        font-size: 18px;
    }
    .product__value p {
        font-size: 16px;
    }
    .star__list {
        margin-left: 35px;
    }
    .view_btn {
        padding: 15px 80px;
    }
    /* end */
    .featured__btn {
        margin-top: 40px;
        text-align: center;
        text-decoration: none;
    }
    .protection__heading {
        font-size: 18px;
    }
    .proctection_para {
        font-size: 12px;
    }
    .price {
        padding: 7px 8px;
    }
    .inner_img_2 {
        right: -71px;
        bottom: 25px;
        width: 200px;
    }
    .inner__img {
        margin-top: -158px;
    }
    .protection__sider {
        width: 184px;
        transform: scale(1.0);
        left: 0;
    }
    .Protection_body:after {
        right: 165px;
    }
    .Protection_body {
        margin-top: 40px;
    }
    .Featured{
        width: 144px;
        right: -20px;
    }
    .protecton_virus{
        width: 130px;
        right: -58px;
    }
    /* protection */
    .customer_content{
        font-size:16px;
    }
    .side {
        height: 150px;
        width: 170px;
        position: absolute;
    }
    /* customer-end */
    .text {
        margin-bottom: 16px;
        font-size: 11px;
    }
    .footer_logo{
        width:180px;
    }
    .links_head h2, .Company__Support h2 ,.Instagram__Follow_head h2{
        font-size: 22px;
    }
    .icon_1{
        padding: 7px 12px;
    }
    .icon_2{
        padding: 8px 7px;
    }
    .icon_3{
        padding: 9px 8px;
    }
    .follwers-list{
        height: 120px;
        padding: 0px 0px 8px 8px;
    }
    .center {
        position: absolute;
        height: 95px;
        width: 137px;
        left: 456px;
        top: 117px;
    }

}
@media screen and (max-width:  975px){
    .protection__sider {
        width: 249px;
        transform: scale(0.8);
        left: -37px;
        bottom: -70px;
    }
}
@media screen and (max-width:  767px){
    .navbar a {
        font-size: 12px;
    }
    .logo {
        width: 130px;
    }
    .banner-btn {
        margin-left: 20px;
    }
    .btn-info{
        font-size: 12px;
    }
    .banner__info span {
        font-size: 14px;
    }
    .banner__info p {
        font-size: 14px;
    }
    .Protect__yourself {
        font-size: 25px;
    }
    .font-size {
        font-size: 11px;
    }
    .btn__info {
        font-size: 14px;
        padding: 7px 6px;
        margin: 20px 0;
    }
    .banner__right-side img {
        margin-top: -40px;
    }
    .banner__right-side {
        background-size: 440px;
    }
    .virus {
        width: 166px;
        right: -50px;
    }
    .virus-center {
        width: 160px;
        left: 300px;
        top: 308px;
    }
    .virus-right {
        width: 130px;
        bottom: -1px;
        left: -62px;
    }
    /* end-banner */
    .Collection h2 {
        font-size: 16px;
    }
    .Collection p {
        font-size: 16px;
    }
    .Collection__last_child h2 {
        font-size: 16px;
    }
    .Collection__last_child p{
        font-size: 16px;
    }
    .Collection-inner-left {
        right: -29px;
        bottom: -15px;
        width: 180px;
    }
    .btn-info {
        font-size: 8px;
    }
    .Collection-btn {
        padding-top: 14px;
    }
    .inner-center {
        width: 150px;
        top: 40px;
        right: -27px;
    }
    .Collection ,.Collection__last_child{
        padding: 15px;
    }
    .Collection-inner-center {
        width: 130px;
        top: 40px;
        right: -16px;
    }
    .Collection-inner-righ {
        right: 0px;
        top: 45px;
        width: 180px;
    }
    .featured__Products_head P, .Featured__Products_head p {
        font-size: 24px;
    }
    .featured__Products_head, .Featured__Products_head h5 {
        font-size: 18px;
    }
    .featured__Products-sale-tag img {
        height: 50px;
    }
    .featured__Products-sale-tag p{
        left: 18px;
        font-size: 12px;
    }
    .product-mask{
        transform: scale(0.7);
        height: 250px;
    }
    .product__heading h3 {
        font-size: 13px;
    }
    .product__value h3 {
        font-size: 12px;
    }
    .product__value p {
        font-size: 12px;
        margin-left: 5px;
        margin-top: 0px;
    }
    .star__list {
        margin-left: 45px;
        width: 18px;
        height: 18px;
        display: flex;
    }
    .view_btn {
        padding: 12px 40px;
    }
    /* product-section-end */
    .banner__info span ,.banner__info p{
        font-size: 20px;
    }
    .protection__heading{
        font-size: 21px;
    }
    .proctection_para {
        font-size: 13px;
    }
    .protection__content {
        margin: 0;
        font-size:16px;
    }
    .protection__img{
        width:300px;
    }
    .inner__img {
        margin-top: -150px;
        position: absolute;
        right: -23px;
        transform: scale(1.1);
    }
    .inner_img_2 {
        right: -129px;
        bottom: -41px;
        width: 220px;
    }
    .protection__sider{
        display: none;
    }
    .Protection_body {
        width: 92%;
    }
    .btn-info {
        font-size: 14px;
    }
    .loar-title{
        font-size:10px;
    }
    .price {
        padding: 7px 21px;
        margin-right: 3px;
    }
    .Protection_body:after {
        right:0;
    }
    .customer_content{
        font-size:11px;
    }
    .content{
        font-size:18px;
    }
    .footer_logo{
        width:140px
    }
    .Company__Support h2, .Instagram__Follow_head h2 {
        font-size: 18px;
    }
}
@media screen and (max-width:  575px){
    .navbar a {
        font-size: 13px;
        color: #ff6d33;
    }
    .navbar {
        /* display: none; */
        position: absolute;
        flex-direction: column;
        height: 170px;
        z-index: 9;
        top: 43px;
        max-width: 100%;
        background-color: #ebddc2;
        right: 0;
    }
}



/* 991px
767px
575px */